<h1><%= @user.email %>

<% if @user_projects.length > 0 %>
  <h2>Owned Projects</h2>

  <% @user_projects.each do | project | %>
    <div class = "info">
      <strong>Title:</strong> <%= link_to project.title, project_path(project) %>
    </div>
    <div class = "info">
      <strong>Description:</strong> <%= project.description %>
    </div>
    <div class = "info">
      <strong>Goal:</strong> <%= project.goal %>
    </div>
    <div class = "info">
      <strong>End Date:</strong> <%= project.end_date %>
    </div>
    <div class = "info">
      <strong>Amount Funded:</strong> <%= @funds_for_projects[project] %>
    </div>
    <div class = "info">
      <strong>Amount Needed:</strong> <%= @amount_to_go[project] %>
    </div>
    <% if current_user == project.user %>
      <%= link_to "Edit Project", edit_project_path(project) %>
    <% end %>
  <% end %>

<% else %>

  <h3>User has no owned projects</h3>

<% end %>



<% if @backed_projects.length > 0 %>
  <h2>Backed Projects</h2>
  <% @backed_projects.each do |backed_project| %>
    <div class = "info">
      <%= link_to backed_project.title, project_path(backed_project) %>
    </div>
  <% end %>

<% else %>

  <h3>User has no backed projects</h3>

<% end %>

<% if @earned_rewards.length > 0 %>
  <h2>Earned Rewards</h2>
  <% @earned_rewards.each do |earned_reward| %>
    <div class = "info">
      <strong>Title:</strong> <%= earned_reward.title %>, for Project: <%= earned_reward.project.title %>
    </div>
  <% end %>

<% else %>

  <h3>User hasn't earned any rewards.</h3>

<% end %>
