<h1>View Project</h1>
<div class = "info">
  <strong>Title:</strong> <%= @project.title%>
</div>
<div class = "info">
  <strong>Description:</strong> <%= @project.description%>
</div>
<div class = "info">
  <strong>Goal:</strong> <%= @project.goal%>
</div>
<div class = "info">
  <strong>End Date:</strong> <%= @project.end_date%>
</div>
<div class = "info">
  <strong>Amount funded:</strong> <%= @sum_of_funds %>
</div>
<div class = "info">
  <strong>Amount needed:</strong> <%= @amount_needed %>
</div>
<div class = "info">
  <strong>Project Owner:</strong> <%= @project_owner.email %>
</div>

<% if @project_rewards %>
  <h2>Rewards</h2>
  <% @project_rewards.each do |reward| %>
    <div class = "info">
      <strong>Title:</strong> <%= reward.title %>
    </div>
    <div class = "info">
      <strong>Description:</strong> <%= reward.description %>
    </div>
    <div class = "info">
      <strong>Minimum Amount:</strong> <%= reward.min_amount %>
    </div>
    <div class = "info">
      <strong>Maximum Amount:</strong> <%= reward.max_amount %>
    </div>
    <div class = "info">
      <strong>Times Reward Earned:</strong> <%= @times_earned[reward] %>
    </div>

    <br>
  <% end %>
<% end %>

<% if @project_comments %>
  <h2>Comments</h2>
  <% @project_comments.each do |comment| %>
    <div class = "info">
      <strong><%= comment.title %></strong>
      <br>
      <%= comment.body %>
      <br>
      <em> by <%= comment.user.email %></em>
      <br>
      Added on: <%= comment.created_at %>
    </div>
  <% end %>
<% end %>
<% if current_user %>

  <h2>Make Comment</h2>
    <%= form_for([@project, @comment]) do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="submit">
        <%= f.submit %>
      </div>
    <% end %>



  <h2>Fund</h2>
    <%= form_for([@project, @fund]) do |f| %>
      <div class="field">
        <%= f.label :amount %>
        <%= f.number_field :amount %>
      </div>
      <div class="submit">
        <%= f.submit %>
    </div>
  <% end %>


<% end %>

<div id = "navigation">
  <%= link_to "Back", projects_path %> | <%= link_to "Edit Project", edit_project_path(@project) %>
</div>
